<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MLKitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36A3741F1D2640EE00EDD9A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A374381D2640EE00EDD9A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36A374431D2640EE00EDD9A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
